

#product-info {
  display: flex;
  width: 95%;
  margin: 0 auto
}

.item-image-parent {
  order: 1;
  width: 50%;
  display: flex;
}

.item-info-parent {
  order: 2;
  width: 50%;
}


.item-image-main img {

  height: auto;
  width: 80%;

}


/* Item Info */
.main-info h4{
  font-size: 21px;
  margin-bottom: 0;
  font-weight: 400
}

.star-rating {
  width: 70%;
  color: gray;
  font-size: 24px;
  border-bottom: 0.4px solid rgba(194, 194, 194, 0.829);
}

.star-rating span {
  color: gold;
}

.main-info p {
  font-size: 15px;
  color: gray;
  margin-bottom: 30px;
}

#price {
  color: rgb(168, 14, 14);
  font-size: 21px;
}
